*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

twitter4j.properties
appengine-web.xml

#  Java.gitignore
*.class

build.properties

war/WEB-INF/appengine-generated/
war/WEB-INF/classes

#  Magen.gitignore
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# SRMNotifier gitignore
google-calendar.properties
*.p12
